* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    margin-left: 35px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.start-page {
    background-image: url(/images/MaskGroup.jpg);
    height: 500px;
    width: 1280px;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    margin-left: 55px;
    padding-top: 125px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    padding-top: 10px;
    margin-left: 55px;
}

.btn {
    width: 200px;
    height: 45px;
    margin-left: 55px;
    margin-top: 40px;
    display: inline-block;
    padding: 10px 15px;
    color: white;
    background-color: #FF8126;
    border-radius: 10px;
    user-select: none;
}